{% extends "agenda/event_list_base.html" %}

{% block section_class %}agenda-index{% endblock %}

{% block additional_actions %}
    <div class="my-6 flex justify-end">
        <a href="{{ toggle_url }}" class="btn btn-primary">
            {% if showing_past %}Voir les événements à venir{% else %}Voir les événements passés{% endif %}
        </a>
    </div>
{% endblock %}

{% block event_list %}
    {% for event in event_list %}
        {% include "agenda/includes/event_card.html" %}
        {% empty %}
        <div class="col-span-full text-center py-8">
            <p>Aucun événement {% if showing_past %}passé{% else %}à venir{% endif %} trouvé.</p>
        </div>
    {% endfor %}
{% endblock %}