{% extends "agenda/event_list_base.html" %}

{% block section_class %}agenda-index{% endblock %}
{% block page_title %}Événements à venir{% endblock %}

{% block additional_actions %}
    {% if past_events_page %}
        <div class="mt-12 flex justify-end">
            <a href="{{ past_events_page.url }}" class="btn btn-secondary">Voir les événements passés</a>
        </div>
    {% endif %}
{% endblock %}

{% block event_list %}
    {% with event_list=upcoming_events %}
        {% for event in event_list %}
            {% include "agenda/includes/event_card.html" %}
            {% empty %}
            <div class="col-span-full text-center py-8">
                <p>Aucun événement à venir n'est prévu avec votre sélection pour le moment.</p>
            </div>
        {% endfor %}
    {% endwith %}
{% endblock %}