{% extends "common/detail_page.html" %}
{% load wagtailcore_tags navigation_tags %}

{% block image_extra %}
    <time class="absolute bottom-6 left-6 text-white bg-secondary/90 px-4 py-2 rounded-lg font-medium">
        {{ page.start_date|date:"d F Y" }}{% if page.end_date %} - {{ page.end_date|date:"d F Y" }}{% endif %}
    </time>
{% endblock %}

{% block page_actions %}
    {% get_parent_url page as parent_url %}
    <div class="flex gap-4">
        <a href="{{ parent_url }}" class="btn btn-primary">← Retour aux événements</a>
    </div>
{% endblock %}