/*
This is the main CSS files that imports all other general CSS files and also the TailwindCSS input file.
It will be compiled by the "npm run dev" command, in output.css which is one loaded in base.html. *
*/
@import "tailwindcss";
@import "./satoshi.css"; /*Font*/
@import './components/buttons.css';
@import './components/modal.css';

/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
@theme {
    --color-primary:                #536B1E; /* #D9381E #FFD700 #dcba4f #0047AB*/
    --color-secondary:              #297a62; /* #3A485B #81B29A */
    --color-background:             #fefff4; /* theme('colors.gray.50') */
    --color-dark-text:              #222D06; /* theme('colors.gray.700') */
    --color-light-text:             #FDFFE0;
    --color-link-hover:             #F2CC8F;
    --color-primary-light:          color-mix(in srgb, var(--color-primary) 80%, white 10%);
    --color-section-bg:             #F4F1DE; /* #D7D1C5 */
    
    /*--color-custom-btn-bg-:         #F2CC8F;*/
    /*--color-custom-btn-bg-hover:    #E07A5F;*/
    /*--color-dark:                   #000000;*/

    --h1-font-size:                 2.25rem;
    --h2-font-size:                 1.875rem;
    --h3-font-size:                 1.5rem;
    --h4-font-size:                 1.25rem;
    --h5-font-size:                 1.125rem;
    --h6-font-size:                 1rem;
}

body {
    font-family: Satoshi-Medium, sans-serif;
}

/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

@layer base {
    h1 { font-size: var(--h1-font-size); /* équivalent à text-4xl */ }
    h2 { font-size: var(--h2-font-size); /* équivalent à text-3xl */ }
    h3 { font-size: var(--h3-font-size); /* équivalent à text-2xl */ }
    h4 { font-size: var(--h4-font-size); /* équivalent à text-xl */ }
    h5 { font-size: var(--h5-font-size); /* équivalent à text-lg */ }
    h6 { font-size: var(--h6-font-size); /* équivalent à text-base */ }
}

*, ::before, ::after {
    box-sizing: border-box;
}

::selection {
    @apply text-white bg-blue-500;
}

.richtext-content {
    @apply max-w-none my-8 lg:my-16 mx-auto px-4 sm:px-6 lg:px-8
    bg-section-bg rounded-xl p-8 pb-4 shadow-md text-dark-text;


    /* Paragraphes */
    & p {
        @apply whitespace-pre-wrap break-words mb-6 text-inherit leading-relaxed;
    }

    /* Liens */
    & a {
        @apply no-underline border-b-2 border-secondary/30
        transition-all text-secondary;
        &:hover {
            @apply border-secondary/100 opacity-80;
        }
    }

    /* Titres */
    & h2 {
        @apply text-primary text-3xl font-bold mt-8 mb-4;
    }

    & h3 {
        @apply text-primary text-2xl font-semibold mt-6 mb-3;
    }

    /* Listes */
    & ul {
        @apply list-disc pl-6 mb-6 space-y-2;
    }

    & ol {
        @apply list-decimal pl-6 mb-6 space-y-2;
    }

    /* Citations */
    & blockquote {
        @apply pl-4 italic text-gray-700 border-l-4 border-secondary opacity-50;
    }

    /* Images */
    & img {
        @apply rounded-lg shadow-md my-6 w-full;
    
        &.richtext-image {
            @apply max-w-2xl mx-auto block;
    
            &.left {
                    @apply ml-0 mr-auto mb-4 max-w-md;
            }
            &.right {
                    @apply mr-0 ml-auto mb-4 max-w-md;
            }

            &.full-width {
                @apply w-full max-w-none float-none mx-auto;
            }
            
        }
    }
}

/*---------------------------------------
  ANIMATED HEADLINE               
-----------------------------------------*/

.rotating-text-wrapper {
    @apply inline-block relative text-left perspective-near;
}

.rotating-text {
    @apply inline-block absolute whitespace-nowrap left-1 top-0 opacity-0 transform rotate-x-180 text-link-hover;
    transform-origin: 50% 100%;

}

.rotating-text.active {
    @apply relative opacity-100 transform rotate-x-0;
    animation: rotate-text-in 1.2s;
}

.rotating-text.hidden {
    @apply transform rotate-x-180;
    animation: rotate-text-out 1.2s;
}

@keyframes rotate-text-in {
    0% {
        transform: rotateX(180deg);
        opacity: 0;
    }
    35% {
        transform: rotateX(120deg);
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    100% {
        transform: rotateX(360deg);
        opacity: 1;
    }
}

@keyframes rotate-text-out {
    0% {
        transform: rotateX(0deg);
        opacity: 1;
    }
    35% {
        transform: rotateX(-40deg);
        opacity: 1;
    }
    65% {
        opacity: 0;
    }
    100% {
        transform: rotateX(180deg);
        opacity: 0;
    }
}

/*---------------------------------------
  GENERAL               
-----------------------------------------*/