{# Load required template tags #}
{% load wagtailcore_tags static navigation_tags %}

{% get_site_root as site_root %}
<header class="bg-[var(--secondary-color)] sticky top-0 z-50 transition-shadow duration-300" data-sticky-header>
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
        {# Logo and Site Title Component #}
        <div class="flex lg:flex-1">
            <a href="/" class="-m-1.5 p-1.5 flex items-center">
                {# Consider adding width and height attributes for better CLS optimization #}
                <img class="h-15 w-auto" src="{% static 'images/logo-mjc-mc.webp' %}" alt="Logo MJC Mauguio-Carnon">
                <span class="ms-3 text-3xl bottom-1 relative text-white font-bold leading-snug">
                    MJC
                    <small class="block leading-0 text-sm">Mauguio-Carnon</small>
                </span>
            </a>
        </div>

        {# Mobile Burger Menu Button #}
        <div class="flex lg:hidden">
            <button id="burger-button" type="button"
                    class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-white hover:text-[var(--link-hover-color)]"
                    title="Ouvrir le menu">
                <span class="sr-only">Ouvrir le menu principal</span>
                <svg class="size-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                     aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
                </svg>
            </button>
        </div>

        {# Desktop Navigation Menu #}
        <div class="hidden lg:flex lg:gap-x-4 xl:gap-x-8">
            {# Home Link #}
            <a href="/" class="nav-link {% if request.path == '/' %}active{% endif %}">
                Accueil
            </a>

            {# Main Navigation Items #}
            {% for page in site_root.get_children.live %}
                <div class="relative group">
                    <a href="{{ page.url }}" class="nav-link {% if page.url == request.path %}active{% endif %}">
                        {{ page.title }}
                        {% if page.get_children.live.in_menu.count > 0 %}
                            <svg class="size-5 flex-none text-gray-400 group-hover:rotate-180 transition-transform"
                                 viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                      d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        {% endif %}
                    </a>

                    {# Dropdown Menu #}
                    {% if page.get_children.live.in_menu.count > 0 %}
                        <div class="absolute translate-y-2 group-hover:translate-y-0 group-hover:block top-full right-0 z-11 w-100 max-w-md overflow-hidden rounded-3xl bg-white ring-1 shadow-lg ring-gray-900/5 opacity-0 group-hover:opacity-100 transition-all duration-300 pointer-events-none group-hover:pointer-events-auto invisible group-hover:visible"
                             role="menu" aria-orientation="vertical">
                            <div class="p-4" role="none">
                                {% for child in page.get_children.live.in_menu %}
                                    <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm/6 hover:bg-gray-50">
                                        <a href="{{ child.url }}"
                                           class="nav-submenu-link {% if child.url == request.path %}active{% endif %}">
                                            {{ child.title }}
                                            <span class="absolute inset-0"></span>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </nav>

    {# Mobile Menu Panel #}
    <div id="mobile-menu" class="lg:hidden hidden" role="dialog" aria-modal="true" aria-expanded="false">
        <div class="fixed inset-0 z-100 bg-black/30 transition-opacity duration-300"></div>
        <div class="fixed inset-y-0 right-0 z-100 w-full overflow-y-auto bg-[var(--secondary-color)] px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10 translate-x-full transition-all duration-300 ease-in-out">
            {# Mobile Menu Header #}
            <div class="flex items-center justify-between">
                <a href="/" class="-m-1.5 p-1.5 flex items-center">
                    <img class="h-12 w-auto" src="{% static 'images/logo-mjc-mc.webp' %}" alt="Logo MJC Mauguio-Carnon">
                    <span class="ms-3 text-lg bottom-1 relative text-white font-bold">
                    MJC
                    <small class="block leading-0">Mauguio-Carnon</small>
                </span>
                </a>
                <button id="close-button" type="button"
                        class="-m-2.5 rounded-md p-2.5 text-white hover:text-[var(--link-hover-color)]"
                        title="Fermer le menu">
                    <span class="sr-only">Fermer le menu principal</span>
                    <svg class="size-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                         aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
                    </svg>
                </button>
            </div>

            {# Mobile Menu Content #}
            <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-500/10">
                    <div class="space-y-2 py-6 -mx-3">
                        <a href="/" class="mobile-nav-link {% if request.path == '/' %}active{% endif %}">Accueil</a>
                        {% for page in site_root.get_children.live %}
                            <div class="flex w-full items-center justify-between rounded-lg mobile-nav-link">
                                <a href="{{ page.url }}"
                                   class=" py-2 pr-3.5 pl-3 {% if page.url == request.path %}active{% endif %}">
                                    {{ page.title }}
                                </a>
                                {% if page.get_children.live.in_menu.count > 0 %}
                                    <button class="flex flex-1 justify-end self-stretch items-center cursor-pointer"
                                            onclick="toggleSubMenu(this)">
                                        <svg class="size-5 transition-transform duration-300" viewBox="0 0 20 20"
                                             fill="currentColor" aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                  d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                                                  clip-rule="evenodd"></path>
                                        </svg>
                                    </button>
                                {% endif %}
                            </div>
                            {% if page.get_children.live.in_menu.count > 0 %}
                                <div class="submenu mt-2 space-y-2 overflow-hidden transition-all duration-300 max-h-0">
                                    {% for child in page.get_children.live.in_menu %}
                                        <a href="{{ child.url }}"
                                           class="mobile-nav-link pl-10! text-sm {% if child.url == request.path %}active{% endif %}">
                                            {{ child.title }}
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>