/*
This is the main CSS files that imports all other general CSS files and also the TailwindCSS input file.
It will be compiled by the "npm run dev" command, in output.css which is one loaded in base.html. *
*/
@import "tailwindcss";
@import "./satoshi.css"; /*Font*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import './components/buttons.css';

/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
    --primary-color:                #81B29A;
    --secondary-color:              #3D405B;
    --section-bg-color:             #F4F1DE;
    --custom-btn-bg-color:          #F2CC8F;
    --custom-btn-bg-hover-color:    #E07A5F;
    --dark-color:                   #000000;
    --text-color:                   #717275;
    --link-hover-color:             #F2CC8F;

    --h1-font-size:                 2.25rem;
    --h2-font-size:                 1.875rem;
    --h3-font-size:                 1.5rem;
    --h4-font-size:                 1.25rem;
    --h5-font-size:                 1.125rem;
    --h6-font-size:                 1rem;
}

:root {
    --primary-bg: #1f2937; /* bg-gray-800 */
    --text-color: #ffffff; /* text-white */
    --hover-color: #d1d5db; /* hover:text-gray-300 */
    --submenu-bg: #ffffff; /* bg-white */
    --submenu-hover: #e5e7eb; /* hover:bg-gray-200 */
}

body {
    font-family: Roboto, sans-serif;
}

/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

@layer base {
    h1 { font-size: var(--h1-font-size); /* équivalent à text-4xl */ }
    h2 { font-size: var(--h2-font-size); /* équivalent à text-3xl */ }
    h3 { font-size: var(--h3-font-size); /* équivalent à text-2xl */ }
    h4 { font-size: var(--h4-font-size); /* équivalent à text-xl */ }
    h5 { font-size: var(--h5-font-size); /* équivalent à text-lg */ }
    h6 { font-size: var(--h6-font-size); /* équivalent à text-base */ }
}

*, ::before, ::after {
    box-sizing: border-box;
}

/* Animation du texte rotatif */
.rotating-text-wrapper {
    @apply inline-block relative text-left align-middle;
}

.rotating-text {
    color: var(--link-hover-color);
    @apply inline-block absolute left-0 top-1/2 opacity-0;
    transform: translateY(-50%) rotateX(90deg);
    transform-origin: bottom center;
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.rotating-text.active {
    @apply opacity-100;
    transform: translateY(-50%) rotateX(0);
}

.rotating-text.hidden {
    @apply opacity-0;
    transform: translateY(-50%) rotateX(-90deg);
}

@keyframes text-rotate-in {
    from {
        transform: rotateX(180deg);
        opacity: 0;
    }
    to {
        transform: rotateX(0);
        opacity: 1;
    }
}

@keyframes text-rotate-out {
    from {
        transform: rotateX(0);
        opacity: 1;
    }
    to {
        transform: rotateX(180deg);
        opacity: 0;
    }
}