{% load wagtailcore_tags wagtailimages_tags %}

<article class="group bg-white rounded-xl shadow-md hover:shadow-xl transition-all duration-300 overflow-hidden h-full flex flex-col hover:scale-[1.03] cursor-pointer"
    onclick="window.location.href='{{ event.url }}'">
    <div class="relative overflow-hidden h-56 bg-gray-200 text-light-text">
        {% if section_class == "past-events" %}
            <div class="absolute z-10 w-full bg-gray-500/90 text-center px-4 py-1 tracking-widest">
                Passé
            </div>
        {% endif %}
        {% if event.image %}
            {% image event.image fill-400x300 as event_img %}
            <img src="{{ event_img.url }}" alt="{{ event.title }}" class="w-full h-56 object-cover">
        {% else %}
            <div class="flex items-center justify-center h-full">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" class="size-20 text-gray-400">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                </svg>
            </div>
        {% endif %}
        <div class="absolute bottom-0 left-0 right-0 bg-gradient-to-t from-black/40 to-transparent h-24"></div>
        <time class="absolute bottom-4 left-4 font-medium px-3 py-1 bg-secondary/80 rounded-full text-sm">
            {{ event.date|date:"d F Y" }}
        </time>
        <div class="absolute bottom-4 right-4 font-medium px-3 py-1 bg-secondary/80 rounded-full text-sm">
            {{ event.get_ville_display }}
        </div>
    </div>
    <div class="p-6 flex flex-col flex-grow h-auto">
        <div class="flex-grow">
            <h3 class="text-xl font-bold mb-2 group-hover:text-dark-text transition-colors">
                {{ event.title }}
            </h3>
            <div class="text-dark-text/60 line-clamp-3">{{ event.subtitle|default:event.content|richtext }}</div>
        </div>
        <a href="{{ event.url }}" class="btn-outline mt-2 relative overflow-hidden group-hover:text-white! group-hover:border-secondary!">
            <span class="absolute inset-0 bg-secondary transition-transform duration-300 transform -translate-x-full group-hover:translate-x-0"></span>
            <span class="relative z-10">En savoir plus</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" class="w-5 h-5 relative z-10">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
            </svg>
        </a>
    </div>
</article>