{% load wagtailcore_tags wagtailimages_tags %}

<article class="group bg-white rounded-xl shadow-md hover:shadow-xl transition-all duration-300 overflow-hidden h-full flex flex-col hover:scale-[1.03] cursor-pointer"
    onclick="window.location.href='{{ event.url }}'">
    {# Image et les dates #}
    <div class="relative overflow-hidden h-full bg-gray-200 text-light-text">
        {% if showing_past %}
            <div class="absolute z-10 w-full text-center px-4 py-1 tracking-widest glass-div">
                Passé
            </div>
        {% endif %}
        {% if event.image %}
            {% image event.image fill-400x300 as event_img %}
            <img loading="lazy" src="{{ event_img.url }}" alt="{{ event.title }}" class="w-full h-full object-cover">
        {% else %}
            <div class="flex items-center justify-center h-full">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" class="size-20 text-gray-400">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                </svg>
            </div>
        {% endif %}
        <div class="absolute bottom-0 left-0 right-0 bg-gradient-to-t from-black/20 to-transparent h-full"></div>
        <div class="absolute bottom-14 left-4 right-4 p-4 glass-div">
            <h3 class="text-2xl font-bold mb-2  line-clamp-1">
                {{ event.title }}
            </h3>
            <div class="opacity-80 line-clamp-2">
                {{ event.subtitle|default:event.content|richtext|striptags|truncatewords:20 }}
            </div>
        </div>
    
        <div class="font-medium text-sm">
            <div class="absolute bottom-4 left-4 px-3 py-1 bg-secondary/80 rounded-lg">
                <time>{{ event.start_date|date:"d M Y" }}{% if event.end_date %} - {{ event.end_date|date:"d M" }}{% endif %}</time>
            </div>
            <div class="absolute bottom-4 right-4 px-3 py-1 bg-secondary/80 rounded-lg">
                {{ event.get_ville_display }}
            </div>
        </div>
    </div>
</article>