{% load wagtailcore_tags wagtailimages_tags navigation_tags %}

<article class="py-8 sm:py-16 container mx-auto max-w-4xl px-4 sm:px-6 lg:px-8">
    <header class="mb-6 sm:mb-12">
        <h1 class="text-2xl sm:text-4xl font-bold mb-2 sm:mb-4 text-primary">{{ page.title }}</h1>
        {% if page.subtitle %}
            <p class="text-lg sm:text-xl text-gray-600">{{ page.subtitle }}</p>
        {% endif %}
    </header>

    {% if page.image and not hide_image %}
        {% image page.image width-1200 as img %}
            <div class="inline-flex w-full justify-center  overflow-hidden mb-4 sm:mb-8">
                <div class="relative rounded-xl overflow-hidden">
                    <img src="{{ img.url }}"
                         alt="{{ page.title }}"
                         class="clickable-image shadow-lg {% block image_classes %}max-h-[300px] sm:max-h-[500px]{% endblock %}">
                    <div class="absolute bottom-0 left-0 right-0 bg-gradient-to-t from-black/40 to-transparent h-1/4 pointer-events-none"></div>
                    {% block image_extra %}{% endblock %}
                </div>

        </div>
    {% endif %}

    <div class="richtext-content">
        {{ page.content|richtext }}
    </div>

    <div class="mt-8 sm:mt-12">
        {% block page_actions %}{% endblock %}
    </div>
</article>

{% include "components/image_viewer.html" %}