{% load wagtailcore_tags %}

{% if page and page.get_ancestors|length > 1 %}
    <nav class="container mx-auto px-4 py-2 md:px-6 md:py-4 text-dark-text flex items-center space-x-1 md:space-x-2 flex-wrap" aria-label="Breadcrumb">
        <a href="/" class="text-dark-text/60 hover:text-link-hover">Accueil</a>
        {% for ancestor in page.get_ancestors|slice:"2:" %}
                <svg class="w-3 h-3 mx-1 md:mx-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"></path>
                </svg>
                <a href="{% pageurl ancestor %}" class="text-dark-text/60 hover:text-link-hover">{{ ancestor.title }}</a>
        {% endfor %}
        <svg class="w-3 h-3 mx-1 md:mx-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"></path>
        </svg>
        <a href="{% pageurl page %}" class="text-dark-text/60 hover:text-link-hover">{{ page.title }}</a>
    </nav>
{% endif %}