{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
    {% include 'activites/includes/activity_card.html' %}

    <section class="mx-auto my-8 w-full md:w-3/4">
        {% if page.animateurs.all %}
            <div class="flex flex-col md:flex-row flex-wrap items-center justify-center gap-4 w-full md:w-1/2 mx-auto mt-8 mb-6">
                <h2 class="font-semibold text-primary">Animé par :</h2>
                <div class="flex flex-wrap justify-center gap-2">
                    {% for animateur in page.animateurs.all %}
                        <span class="inline-block bg-blue-100 text-blue-800 text-lg px-3 py-1 rounded-full">{{ animateur }}</span>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if page.content %}
            <div class="richtext-content leading-loose text-xl">
                {{ page.content|richtext }}
            </div>
        {% endif %}

        {% if page.sub_activities.all %}
            <div class="flex flex-col items-center mt-8 px-4 md:px-0">
                <h3 class="font-semibold mb-4 text-primary">Sous Activités</h3>
                <div class="flex flex-wrap justify-center gap-4">
                    {% for sub_activity in page.sub_activities.all %}
                        <div class="flex flex-col justify-center p-4 bg-gray-100 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 text-center">
                            <h4 class="font-bold text-secondary">{{ sub_activity.title }}</h4>
                            {% if sub_activity.description %}
                                <div>{{ sub_activity.description|richtext }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if page.link %}
            <div class="my-16 flex items-center justify-center">
                <a href="{{ page.link }}" class="btn btn-primary">Voir sur GoAsso</a>
            </div>
        {% endif %}
    </section>

    {% include "components/image_viewer.html" %}
{% endblock %}